.levels-container {
  display: flex;
  justify-content: center;
}

.levels-container > .level-item {
  margin: 10px;
}

.level-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  width: 30px;
  height: 30px;
  margin: 15px auto;
  border: 1px solid #5bddc6;
  border-radius: 100%;
  background-color: #5bddc6;
  color: #fff;
}

.active-level {
  background-color: #fff;
  color: #5bddc6;
}

.level-item:hover {
  transform: scale(1.1);
}