.statistics-list {
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 100%;
}

.statistics-item {
  flex-wrap: wrap;
  max-width: 405px;
  width: 100%;
  padding-bottom: 15px;
  margin: 10px;
  border: 1px solid rgb(206, 212, 218);
  border-radius: 5px;
  box-shadow: rgb(206, 212, 218) 0px 2px 2px 0px;
  display: flex;
  flex-direction: column;
}

.statistics-title {
  padding: 0 10px 0 10px;
  font-weight: 400;
}

.statistics-title span {
  margin-left: 5px;
  font-weight: 300;
  color:rgb(206, 212, 218);
}

.email {
  color: #5bddc6;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}