.recognition {
  display: flex;
  width: 100%;
  padding-top: 30px;
  align-items: center;
  justify-content: center;
}

.listening {
  border: 1px solid #ff0000;
  color: #ff0000;
  background-color: transparent;
}